<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          asp-href-include="/lib/bootstrap/dist/**/*.min.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <link rel="stylesheet" asp-href-include="/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" asp-href-include="/css/StyleSheet.css" />
    <title>@ViewBag.Title</title>
    <style>
        .input-validation-error {
            border-color: red;
            background-color: #fee;
        }
    </style>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand ml-3" asp-action="List"
           asp-controller="Product"
           asp-route-category="">
            <img src="~/images/cropped-open-site-icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
            АПТЕЧНЫЙ СКЛАД
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="col navbar-nav">
                    <a class="nav-item nav-link @(ViewBag.Current == "Orders" ? "active" : "")" asp-action="List" asp-controller="Order">Заказы</a>
                    <a class="nav-item nav-link @(ViewBag.Current == "Products" ? "active" : "")" asp-action="Index" asp-controller="Admin">Товары</a>
                </div>
            }
            <div class="col">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="d-flex flex-row-reverse">
                        <a class="ml-2 btn btn-sm btn-outline-light navbar-btn"
                           asp-action="Logout" asp-controller="Account">Выход</a>
                        @await Component.InvokeAsync("CartSummary")
                    </div>
                }
                else
                {
                    <div class="nav-item d-flex flex-row-reverse">
                        <a class="btn btn-sm btn-outline-light navbar-btn"
                           asp-action="Login" asp-controller="Account">Вход</a>
                    </div>
                }
            </div>
        </div>
    </nav>
    <div class="row m-1 p-1">
        <div class="col-md">
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success mt-1">@TempData["message"]</div>
            }
            @RenderBody()
        </div>
    </div>
</body>
</html>
